/* General Styles */
/* .container {
  margin: 20px auto;
  max-width: 800px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.table-container {
  overflow-x: auto;
  border-radius: 8px;
  width: 58rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  overflow-x: auto;
}

.custom-table th, .custom-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ffffff;
}

.custom-table th {
  background-color: #ffffff;
  color: rgb(9, 5, 5);
}

.custom-table tr:nth-child(even) {
  background-color: #cef9c8;
  height: 2px;
}

/* List View Styles */
.list-view {
  display: none; /* Hide the list view by default */
}

.list-item {
  background-color: #fff;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-item:nth-child(odd) {
  background-color: #f9f9f9;
}

.list-item:nth-child(even) {
  background-color: #e9e9e9;
}

.list-item div {
  margin-bottom: 10px;
}

.list-item div span {
  font-weight: bold;
}

.mb-2 {
  margin-right: 20px;
}

.responsive-form {
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-left: px;
}

.responsive-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.responsive-buttons button {
  flex: 1;
  margin: 5px;
}

.results input {
  width: 100%;
  margin-bottom: 10px;
}

.CButton {
  margin-left: 2rem;
}

/* Mobile View - List Style */
@media screen and (max-width: 768px) {
  .mb-2 {
    width: 70%;
  }
    .custom-table {
      display: none; /* Hide the table on small screens */
    }

    .list-view {
      display: block; /* Show the list view on small screens */
    }

    .list-item {
      border: 1px solid #ccc;
      margin-bottom: 10px;
      padding: 10px;
    }

    .list-item div {
      margin-bottom: 5px;
    }

    .list-item .expand {
      display: block;
      text-align: right;
      margin-bottom: 10px;
    }

    .list-item .expand i {
      cursor: pointer;
    }

    .expanded-content {
      display: none;
    }

    .expanded .expanded-content {
      display: block;
    }

    .table-like {
      display: table;
      width: 100%;
    }

    .table-row {
      display: table-row;
    }

    .table-cell {
      display: table-cell;
      padding: 5px;
      /* border: 1px solid #ccc; */
    }

    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }


  }
