.card {
  margin-top: 1rem;
}



.form-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 1950px;
  margin: 20px auto;
  height: 400px;
  margin-top: 2.5rem;
  display: grid;
}

.form-container h4 {
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  flex: 1;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.form-control {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
}

.submit-button {
  display: block;
  width: 30%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

.form-message {
  text-align: center;
  color: red;
  margin-top: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  fill: white;
  margin-top: 1px;
  margin-left: 3px;
}
.box {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 10%;
  background-color: #CA226B;
  border-radius: 7px;
  height: 5rem;
  margin-left: 20px;
  position: relative;
  bottom: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .form-group {
    min-width: 100%;
  }

  .form {
    min-width: 100%;
  }

  .form-container {
    padding: 10px;
  }

  .form-container h4 {
    font-size: 18px;
  }

  .form-control {
    width: 100%;
  }

  .submit-button {
    width: 100%;
  }
}

/* Custom Select and Input Styles */
.custom-select-container {
  position: relative;
  border-bottom: 1px solid #ced4da; /* Bottom border style */
  overflow: hidden; /* Hide overflow to prevent top border from showing */
}

.custom-select {
  border: none; /* Remove default select border */
  background-color: transparent; /* Transparent background */
  appearance: none; /* Remove default appearance */
  -webkit-appearance: none; /* For older versions of WebKit */
  padding: 0.375rem 0; /* Adjust padding as needed */
  width: 100%; /* Full width */
  outline: none; /* Remove outline on focus */
}

.custom-select:focus {
  outline: none; /* Remove outline on focus */
}

.form-control.bottom-line {
  border: none;
  border-bottom: 1px solid #ced4da; /* Bottom border color */
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  padding: 0.375rem 0;
  width: 100%;
  outline: none;
}

.form-control.bottom-line:focus {
  outline: none;
}

/* Mobile View - List Style */
@media screen and (max-width: 768px) {

.box {
  width: 30%;
  /* height: 8.5rem; */
}
.icon {
  width: 30px;
  height: 15px;
}
}
